:root {
    --primary-color: #026FC1;
    --secondary-color: #012A48;
    --accent-color: #FDA563;
    --main-font: Montserrat;
    --primary-text-color: #ffffff;
    --secondary-text-color: #012A48;
    
}